{% extends "base.html" %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    <h1 style="font-family: 'Charm', cursive; font-size: 4em;">{{ title }}</h1><br/>

<form method='GET' action='' class='row'>
    <div class='col-sm-6'>
        <div class='input-group'>
            <input class='form-control' type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'/>
            <span class='input-group-btn'>
                <button class='btn btn-default' type='submit' style="font-family: 'Merriweather', serif;">Search <i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>

{% for obj in object_list %}
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            {% if obj.image %}
            <img src='{{ obj.image.url }}' class='img-responsive' />
            {% endif %}
            <div class="caption">
                <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.timestamp|timesince }} ago</small></h3>
                <p> - {{ obj.user.username }}</p>
                <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>
    </div>
    <hr/>
</div>
{% endfor %}

{% if not request.user.is_authenticated %}
<p>Please <a href="{% url 'login' %}">Login</a> to Create Posts !!</p>
{% else %}
<a href='{% url "posts:create" %}' class="btn btn-default">Create Post</a>
{% endif %}
<br/>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}
